.App {
  min-width: 300px;
  background-color: #ffffff;
}

html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: black;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.logo {
  width: 40px;
  margin-top: 15px;
  margin-left: 30px;
}

.logo:hover {
  cursor: pointer;
}

.footer {
  font-size: 0.7rem;
  color: white;
  text-align: center;
  background-color: black;
  padding-top: 20px;
  font-family: Playfair Display;
  padding-bottom: 10px;
  padding-right: -5px;
}

.footer-text {
  cursor: pointer;
  display: inline;
}

.not-found {
  text-align: center;
  min-height: 30vh;
  padding-top: 100px;
  padding-bottom: 100px;
}

.center {
  text-align: center;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.playfair {
  font-family: Playfair Display;
}

.font-size-4rem {
  font-size: 4rem;
}
.font-size-3rem {
  font-size: 3rem;
}
.font-size-2rem {
  font-size: 2rem;
}
.font-size-1-5rem {
  font-size: 1.5rem;
}
.font-size-1rem {
  font-size: 1rem;
}

.font-weight-200 {
  font-weight: 200;
}

.font-weight-100 {
  font-weight: 200;
}

.padding-left-10 {
  padding-left: 10px;
}

.margin-top-minus-20 {
  margin-top: -20px;
}

.margin-30 {
  margin: 30px;
}

.max-width-500 {
  max-width: 500px;
}

.max-width-800 {
  max-width: 800px;
}

.title {
  font-size: 18px;
  padding-left: 10px;
  cursor: pointer;
  color: white;
}

.javascript-title {
  border-bottom: 2px solid hsl(42, 36%, 74%);
}

.align-left {
  text-align: left;
}
.align-right {
  text-align: right;
}

.align-center {
  text-align: center;
}

.cursive {
  font-family: Arizonia;
  font-size: 1.5rem;
  padding-left: 10px;
  padding-right: 3px;
}
.header-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0px;
  background-color: black;
  color: white;
  position: fixed;
  width: 100vw;
  z-index: 15;
}

.nav-title-container {
  display: flex;
  flex-direction: row;
  font-family: Playfair Display;
  align-content: center;
  z-index: 15;
}

.nav-sidebar {
  padding-top: 100px;
  z-index: 10;
  background-color: black;
  height: 90vh;
  position: fixed;
  overflow-y: hidden;
  z-index: 10;
  width: 100vw;
}

.nav-links {
  display: flex;
  flex-direction: column;
  list-style: none;
  margin-left: 100px;
  z-index: 10;
  padding-top: 80px;
}

.nav-link {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 1.5rem;
  padding-bottom: 20px;
}

.nav-link * {
  color: white;
}

.nav-contact {
  margin-top: 60px;
  margin-bottom: 10px;
  padding-bottom: 20px;
  color: white;
  margin-left: 100px;
}

.nav-email {
  color: #d5c6a5;
}

.underline-effect {
  display: inline-block;
  padding-bottom: 0.25rem;
  position: relative;
}

.underline-effect {
  font-weight: 900;
}

.underline-effect::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0%;
  height: 2px;
  background-color: #dac58c;
  transition: width 0.25s ease-out;
}

.underline-effect:hover::before {
  width: 100%;
  cursor: pointer;
}

.nav-three-lines {
  margin-right: 10px;
  cursor: pointer;
}

.nav-x {
  margin-right: 15px;
  cursor: pointer;
  font-size: 24px;
  margin-top: 0px;
  margin-bottom: 0px;
  line-height: 1rem;
}

.inline {
  display: inline;
}

.bold {
  font-weight: 700;
}

.padding-10 {
  padding: 10px;
}

.padding-30 {
  padding: 30px;
}

.padding-50 {
  padding: 50px;
}

/* Home Mobile View */

.home-page {
  display: flex;
  flex-direction: column;
  min-width: 300px;
  padding-top: 60px;
}

.home-video-container {
  margin-top: -10px;
  width: 100vw;
  height: auto;
}

.home-video {
  width: 100vw;
}

/* .home-quote-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  font-family: Playfair Display;
  font-weight: 400;
  background-color: rgba(219, 197, 140, 0.2);
  text-align: start;
  padding: 20px;
  margin-top: -35px;
}

.home-quote-large-quotation {
  font-size: 6rem;
  margin-top: -15px;
  color: #dbc58c;
}
.gold {
  color: #dbc58c;
}

.home-quote-body {
  display: flex;
  flex-direction: column;
  font-size: 2rem;
  width: 100vw;
}

.home-quote-p {
  width: 90vw;
}

.home-quote-author {
  font-size: 1.5rem;
  text-transform: uppercase;
  font-weight: 900;
  margin-top: -20px;
  padding-top: 0px;
} */

.home-quote {
  font-family: Playfair Display;
  text-align: center;
  font-size: 1.2rem;
  padding-top: 50px;
  padding-bottom: 20px;
}

.home-quote-learn * {
  font-size: 0.9rem;
  cursor: pointer;
}

.home-subheader {
  font-family: Playfair Display;
  text-align: center;
  border-bottom: 1px solid hsl(42, 36%, 74%);
  margin-top: 25px;
  margin-bottom: 25px;
  font-size: 2rem;
  font-weight: 200;
}

.home-projects-container {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 85%;
  overflow-x: auto;
  overflow-y: hidden;
  gap: 30px;
  overscroll-behavior-inline: contain;
  padding-left: 10px;
  padding-right: 10px;
  scroll-snap-type: inline mandatory;
  scroll-padding-inline: 10px;
}

.home-project-cover {
  max-width: 85vw;
  padding: 2px;
  margin: 2px;
  background-color: hsl(42, 36%, 74%);
  border-radius: 10px;
  scroll-snap-align: start;
}

.home-project-cover:hover {
  cursor: pointer;
  opacity: 90%;
  transition: 0.4s;
}

.home-posts-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100vw;
  justify-content: left;
  line-height: 0px;
}

.home-posts-container {
  width: 99vw;
  padding-left: 2vw;
}

.home-post-container {
  position: relative;
}

.home-post-grid-item {
  margin: 1px;
}

.home-post-grid-item:hover .home-post-image {
  transition: 0.5s;
  z-index: 2;
}
.home-post-image {
  width: 32vw;
}

.home-post-title {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.8);
  opacity: 0;
  -webkit-transition: opacity 0.6s;
  -moz-transition: opacity 0.6s;
  transition: opacity 0.6s;
  vertical-align: middle;
  line-height: 1rem;
  font-weight: bold;
  font-size: 1rem;
  color: white;
  display: inline-table;
  font-family: Playfair Display;
}
.home-post-title:hover {
  opacity: 1;
  cursor: pointer;
  z-index: 2;
}

.home-post-title p {
  text-align: center;
  vertical-align: middle;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 25%;
  padding-bottom: 0px;
}

.home-post-image:hover {
  cursor: pointer;
}

.testimonials-header {
  margin-bottom: 0px;
}

.home-testimonials-container {
  padding: 10px;
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 60%;
  overflow-x: auto;
  overflow-y: hidden;
  gap: 10px;
  overscroll-behavior-inline: contain;
  margin-left: 20px;
  margin-right: 20px;
  scroll-snap-type: inline mandatory;
  scroll-padding-inline: 10px;
  background-color: white;
  margin: 0px;
  max-height: 100vh;
  border-bottom: 1px solid hsl(42, 36%, 74%);
}

.home-testimonial-container {
  max-width: 60vw;
  padding: 10px;
  margin: 2px;
  background-color: white;
  border: 1px solid #d5c6a5;
  border-radius: 1px;
  scroll-snap-align: start;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.home-testimonial-quotation-quote-container {
  display: flex;
  flex-direction: row;
}

.home-testimonial-large-quotation {
  font-family: Playfair Display;
  font-size: 4rem;
  margin-top: -20px;
  padding-left: -10px;
  color: #dac58c;
}

.home-testimonial-quote {
  font-size: 1rem;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 10px;
  top: 20%;
  font-family: Playfair Display;
}

.home-testimonial-author-bio-container {
  display: flex;
  flex-direction: column;
  line-height: 0.5rem;
  justify-content: flex-start;
  align-items: center;
}

.home-testimonial-author {
  font-family: Playfair Display;
  margin-top: 0px;
}

/* Project Mobile View */

.project-container {
  display: flex;
  justify-content: center;
  align-content: center;
}

.projects-container {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.project-tags {
  font-size: 10px;
}

.pointer {
  cursor: pointer;
}

/* about mobile view */

.about-word-titles {
  margin-top: 0px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  scroll-behavior: smooth;
  padding-bottom: 30px;
  border-bottom: 1px solid #d5c6a5;
}

.about-word-title {
  text-transform: uppercase;
  font-size: 2.5rem;
  font-family: Playfair Display;
  padding-left: 15px;
  padding-right: 15px;
  display: inline-block;
  text-align: center;
  margin-top: 55px;
}

.about-section {
  margin-bottom: 100px;
  padding-top: 5px;
}

.about-word-title:hover {
  color: #d5c6a5;
  cursor: pointer;
}

.about-headline {
  font-size: 2.5rem;
  font-family: Playfair Display;
  text-align: center;
  padding-top: 50px;
  border-bottom: 1px solid hsl(42, 36%, 74%);
}

.about-tagline {
  font-size: 1.5rem;
  font-weight: 200;
}

.about-body {
  margin-left: 30px;
  margin-right: 30px;
  display: flex;
  flex-direction: column;
}

.about-welcome-skills,
.about-welcome-mission,
.about-welcome-values {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.squiggle {
  position: relative;
  width: 150px;
  height: 50px;
  overflow: hidden;
}

.squiggle::before {
  content: "aaaaaaaaa";
  position: absolute;
  font-size: 4rem;
  color: transparent;
  text-decoration-style: wavy;
  text-decoration-color: #d5c6a5;
  text-decoration-line: underline;
  top: -42px;
  animation: animate 1.2s linear infinite;
}

@keyframes animate {
  0% {
    transform: translateX(-1px);
  }
  100% {
    transform: translateX(-33px);
  }
}

.about-page {
  padding-top: 50px;
}

.about-skills-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  font-family: Playfair Display;
  margin-bottom: -50px;
  max-width: 400px;
}

.about-skills-container div {
  padding-left: 8px;
  padding-right: 8px;
}

.about-p {
  margin-top: 10px;
  text-align: left;
  line-height: 2rem;
  max-width: 400px;
}

.about-hero-container {
  background-color: black;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.about-video {
  max-width: 300px;
}

.about-name-photo-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.about-link {
  max-width: 30px;
  padding-top: 5px;
  padding-left: 10px;
  cursor: pointer;
}

.about-contact-form-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: -40px;
}
.about-contact-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 400px;
  padding: 10px;
  padding-top: 30px;
  border-radius: 10px;
  background-color: #f7f4e8;
  width: 100%;
}

.about-contact-label {
  font-family: Playfair Display;
  font-size: 1.3rem;
  margin-top: 20px;
}

.about-contact-input {
  padding: 5px;
}

.about-contact-submit-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.about-contact-message {
  max-width: 97%;
  min-width: 97%;
}

.about-dash {
  color: hsl(42, 36%, 74%);
}

.about-contact-submit {
  margin-top: 20px;
  width: 30%;
  font-family: Playfair Display;
  text-align: center;
  background-color: #ffffff;
  border: 1px solid black;
  border-radius: 5px;
  padding: 5px;
  color: black;
  font-weight: 600;
}

.about-contact-submit:hover {
  background-color: rgba(213, 198, 165, 0.8);
  box-shadow: 1px 1px 1px black;
  cursor: pointer;
}

.about-subheader {
  font-family: Playfair Display;
  text-align: center;
  font-size: 1.5rem;
  text-transform: uppercase;
  font-weight: 200;
  margin-top: 50px;
}

.about-work-image-container {
  max-width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
  border-radius: 15px;
}

.about-work-image {
  width: 98vw;
  max-width: 600px;
  margin: 10px;
  border-radius: 15px;
}

.about-paragraphs-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100vw;
}
.about-paragraphs {
  max-width: 500px;
  display: flex;
  flex-direction: column;
  font-family: Playfair Display;
  margin-bottom: 50px;
}
.about-paragraph {
  padding-left: 20px;
  padding-right: 20px;
  line-height: 2rem;
}

.about-values-p,
.about-mission-p,
.about-skills-container {
  text-align: center;
}

.about-connect-p {
  padding-left: 50px;
  padding-right: 50px;
}

/* posts (aka writing) mobile view */

.posts-container {
  margin-top: 1px;
  max-height: 300px;
  display: flex;
  flex-direction: row;
}

.single-post-title {
  font-family: Playfair Display;
  font-size: 1.5rem;
  text-transform: capitalize;
  padding-top: 20px;
}

.single-post-body {
  line-height: 2rem;
  padding: 10px;
}

.single-post-image {
  max-width: 100%;
}

.single-post-tagline {
  padding: 10px;
  margin: 10px;
  font-size: 1.2rem;
  font-weight: 200;
}

.all-posts {
  font-family: Playfair Display;
  margin-top: 30px;
  margin-bottom: -20px;
  border-bottom: 3px solid hsl(42, 36%, 74%);
}

.posts-title-container,
.posts-content-container {
  margin: 1px;
  max-width: 49%;
  min-width: 49%;
  padding-left: 5px;
}

.posts-title-container {
  font-size: 2rem;
  text-transform: uppercase;
  font-weight: 900;
}

.margin-top-50 {
  margin-top: 50px;
}

.posts-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  min-height: 300px;
  max-height: 500px;
}

.posts-content-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.posts-list {
  font-weight: 200;
  font-size: 1.3rem;
}

.postslist-page-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.postslist-single-post-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin: 5px;
}

.postslist-container {
  width: 100vw;
  display: flex;
  flex-direction: row;
  overflow-x: auto;
  margin-top: 50px;
}

.post-image {
  max-width: 70vw;
}

.postslist-image:hover {
  cursor: pointer;
  box-shadow: 10px 10px 5px #ccc;
}

.single-post-page-container {
  display: flex;
  justify-content: center;
}

.single-post-container {
  max-width: 500px;
  padding: 15px;
}

.title-subject-container {
  display: flex;
  justify-content: center;
}

.postslist-subject {
  font-size: 0.7rem;
  text-transform: uppercase;
  font-weight: 600;
  display: inline;
}

.align-center {
  text-align: center;
}

.reverse-wrap {
  flex-wrap: wrap-reverse;
}
.posts-title-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.justify {
  text-align: justify;
}

.postslist-title {
  line-height: 2rem;
  font-size: 1.2rem;
  font-weight: 300;
  cursor: pointer;
  /* display: inline; */
  padding-top: 10px;
  text-align: center;
}

.postslist-title:hover {
  font-weight: 300;
}

.previous-next-container {
  display: flex;
  justify-content: center;
}

.previous-next-text {
  padding: 20px;
}

.previous-next-text:hover {
  font-weight: 600;
  cursor: pointer;
}

.project-page-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.project-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  overflow-y: auto;
}

.stretch {
  display: flex;
  flex-direction: column;
  margin-top: 53px;
  margin-left: -1px;
}
/* 
.project-sidebar-container {
  display: none;
  max-width: 300px;
  padding-top: 10px;
  background-color: pink;
}

.project-sidebar-header {
  font-size: 0.9rem;
  text-transform: uppercase;
  font-weight: 800;
  padding-top: 20px;
  text-align: center;
}

.project-sidebar-title {
  text-align: left;
  cursor: pointer;
  padding-right: 20px;
  padding-bottom: 10px;
  padding-left: 20px;
}

.project-sidebar-title:hover {
  font-weight: 800;
}

.project-sidebar-tags {
  font-size: 0.8rem;
  font-weight: 200;
  display: block;
  padding-left: 15px;
  padding-top: 3px;
} */

.point-8-rem {
  font-size: 0.8rem;
}

.uppercase {
  text-transform: uppercase;
}

.project-title-container {
  display: flex;
}

.project-cover {
  width: 100%;
}

.flip:hover {
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}

.project-stack {
  max-width: 600px;
}

.project-description-container {
  padding: 10%;
  background-color: #d5c6a5;
  text-align: center;
}

.project-stack-container {
  background-color: hsl(42, 66%, 84%);
  padding: 10%;
  text-align: center;
}
.project-stack-content-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.project-repo-container {
  padding: 10%;
  background-color: hsl(42, 76%, 90%);
  text-align: center;
}

.project-takeaways-container {
  padding: 10%;
  background-color: hsl(42, 86%, 94%);
  text-align: center;
}

.project-description-text-container {
  display: flex;
  justify-content: center;
  width: 100%;
}

.project-video-container {
  position: relative;
  padding-bottom: 56.25%;
  /* 16:9 */
  padding-top: 25px;
  height: 0;
}
.project-video-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.project-link-container {
  padding: 10%;
}

.single-project-scroll {
  margin-top: 20px;
  margin-bottom: 20px;
}

.services-header {
  margin-top: 0px;
  padding: 200px;
  text-align: center;
}

.shop-header {
  margin-top: 0px;
  padding: 200px;
  text-align: center;
}

/* wide screen media queries */

@media only screen and (min-width: 768px) {
  /* nav wide view */

  .header-container {
    margin-top: 0px;
    border-bottom: 1px solid black;
  }

  /* home wide view */
  .home-page {
    padding-top: 58px;
    max-width: 1400px;
  }

  .home-quote-large-quotation {
    font-size: 6rem;
  }

  .home-quote-body {
    font-size: 2rem;
  }

  .home-quote-author {
    font-size: 2rem;
  }

  .home-post-title {
    font-size: 1.5rem;
    line-height: 1.5rem;
  }

  /* .home-testimonials-container {
    grid-auto-columns: 40%;
    margin: 0px;
  } */

  /* 
  .home-testimonial-container {
    margin-top: 30px;
    margin-bottom: 30px;
  } */

  .home-quote-container {
    margin-top: -40px;
  }

  /* about wide view */

  .about-page {
    padding-top: 0px;
  }

  .about-container {
    padding-top: 50px;
  }

  .about-body {
    margin: 50px;
    margin-top: 120px;
    display: flex;
    flex-direction: column;
  }

  .about-headline {
    font-size: 3rem;
    font-family: Playfair Display;
    padding-top: 30px;
  }

  .about-word-titles {
    padding-top: 0px;
  }

  .about-word-title {
    font-size: 3.5rem;
  }

  .about-contact-form {
    width: 600px;
  }

  .about-video {
    max-width: 500px;
  }

  .about-subheader {
    font-size: 2rem;
  }

  /* projects wide view */

  /* .project-title-container {
    max-width: 100%;
  }
  .project-cover {
    max-width: (400px);
  }

  .project-sidebar-container {
    display: block;
    max-width: 290px;
    padding-top: 50px;
    padding-left: 10px;
  } */

  /* posts wide view */
  .posts-page-container {
    padding-top: 5px;
  }
  .postslist-page-container {
    padding: 0px;
    margin-left: 100px;
    margin-right: 100px;
  }

  .postslist-container {
    width: 90%;
    padding-bottom: 50px;
  }

  .post-image,
  .postslist-image {
    padding: 0px;
    margin: 2px;
    max-width: 25vw;
  }

  .postslist-title {
    padding: 10px;
    margin: 0px;
    line-height: normal;
  }
  .single-post-page-container {
    padding-top: 55px;
  }
  .postslist-single-post-container {
    width: 25vw;
    margin: 5px;
  }

  .single-post-title {
    font-size: 2.5rem;
  }
}

/* Project colors:
#D4C5A5
#F1E0BB
#F9ECD2 */
